// .example {
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
//     'Open Sans', 'Helvetica Neue', sans-serif;
//   line-height: 1.5;
//   background-color: #fff;
//   color: #424242;
//   max-width: 960px;
//   padding: 16px;
// }

// .example code {
//   font-family: monospace;
//   font-size: 16px;
//   font-weight: 700;
//   background-color: #009688;
//   color: #fff;
//   padding: 2px 6px;
//   border-radius: 2px;
// }

// .example .background {
//   height: 240px;
//   // Путь к изображениям из SASS-файла всегда такой, как из папки css
//   background-image: url('../images/demo.jpg');
//   background-size: cover;
//   background-position: center;
// }

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

.img-wrapper {
  height: 250px;
  position: relative;
  overflow-y: hidden;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.load-more {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.load-more.is-hidden {
  display: none;
}

.load-more > .spinner.is-hidden {
  display: none;
}

